{% load static %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Get-it</title>
    <link rel="stylesheet" href="{% static 'notes/css/getit.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
        rel="stylesheet" />

</head>

<body>
    {% include "notes/navbar.html" %}
    <main class="container">
    <div class="btn-add">
        <a href="{% url 'createNote' %}" style="text-decoration: none; color: black;"><span>Adicionar novo Get-it!</span></a>

    </div>

    <div class="btn-add">
        <a href="{% url 'tagList' %}" style="text-decoration: none; color: black;"><span>Ir para lista de tags</span></a>

    </div>


    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <div class="firs-card-line">
                <a class="small-btn" style="text-decoration: none;" href="{% url 'updateNote' note.id%}"><span>Editar</span></a>
                <a class="X" style="text-decoration: none;" href="{% url 'deleteNote' note.id%}">X</a>

            </div>
            <h3 class="card-title">{{ note.title }}</h3>
            <p class="card-content">{{ note.content }}</p>
        </div>
        {% endfor %}
    </div>
</main>

    {% block content %}

    {% endblock %}


    <script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>
</body>

</html>