{% load static %}


{% block content %}
{% include "notes/navbar.html" %}

<link rel="stylesheet" href="{% static 'notes/css/addedit.css' %}" />

<main class="conteiner">
    <form method="post" class="form-card">
        {% csrf_token %}
        <!-- {{form}} -->

        <div class="titulo">
            <h3 class="textform">Título:</h3>
            {{form.title}}
        </div>

        <div class="conteudo">
            <h3 class="textform">Conteúdo:</h3>
            {{form.content}}
        </div>

        <div class="tag">
            <h3 class="textform">Tag:</h3>
            {{form.tag}}
        </div>

        <input type="submit" style="margin-top: 20px;" class="btn" />

    </form>

</main>
{% endblock %}